<div class="container">
    <div class="order-container">
        <h3 class="order-title">Your Orders</h3>
        <div class="order-cell">
            <div class="order-details">
                <img class="order-image" src="../../assets/images/download.jpeg" alt="food">
                <div class="order-tab">
                    <h3 class="order-title">Cafe Coffee Day</h3>
                    <p class="order-place">Mount Road</p>
                    <p class="order-id">Order #212211039</p>
                    <div class="order-items">
                        <p class="food-item">Veg Sandwich</p>
                        <p class="food-item">Lime Soda</p>
                    </div>
                </div>
            </div>
            <div class="order-status">
                <p>Ordered on 28th June 2021, 4:55pm </p>
                <p class="order-price">Total: $20.12</p>
                <div class="order-btn">
                    <button class="btn-danger" type="button">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
