@import "../../../core/sass/index.scss";

// search component 
.input-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $white;
    width: $spacing-30 + $spacing-7 + $spacing-0-5;
    // height: 50px;
    padding: $spacing-0-5 $spacing-0-5;
    box-shadow: rgba(236, 126, 178, 0.2) 0px 7px 29px 0px;

    // input styles 
    input {
        font-size: $spacing-1 + $spacing-0-25;
        width: 80%;
        height: $spacing-2 + $spacing-0-25;
        padding: $spacing-1 $spacing-2 + $spacing-0-5;
        border: transparent;
    }

    // button styles 
    .btn-danger {
        font-size: $spacing-1 + $spacing-0-25;
        width: $spacing-10 + $spacing-1 + $spacing-0-75 + $spacing-0-1;
        height: $spacing-4 + $spacing-0-25;
    }

    // button for restuarant page 
    .btn-restuarant {
        width: $spacing-7 + $spacing-0-75 + $spacing-0-1;
        height: $spacing-3 + $spacing-0-1;
    }


}

//Drop down section 
.dropdown-section {
    position: absolute;
    width: 34.7%;
    height: $spacing-10 + $spacing-2 + $spacing-0-5;
    z-index: 100;
    margin-top: 5px;
    overflow: scroll;
    border-radius: 0 0 $spacing-0-75 $spacing-0-75;

    // results 
    .item {
        cursor: pointer;
        z-index: 10;
        background-color: $white;
        padding: 10px;
    }

    .items:nth-child(even) {
        background-color: $light-grey;
    }
    
}
.icon {
    width: 30px;
    height: 100%;
}