<div class="input-cell">
    <input type="text" [(ngModel)]="searchText"  placeholder="Search Restaurants" (input)="onEnterData()">
    <button type="submit" class="btn-danger" [style.backgroundColor]="isDisabled ? 'grey' : 'red'" [disabled]="isDisabled" (click)="onSubmit()">GO</button>
</div>
<div class="items-section"  *ngIf="hideList">
    <div class="item" *ngFor="let restaurant of restaurants | filterPipe:searchText:true " (click)="onItemClick(restaurant.name)" >
        <span *ngIf="searchText=== restaurant.name?false : true">{{ restaurant.name }}</span>
    </div>
</div>
