@import "../../../core/sass/index.scss";

.input-cell{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $white;
    width: 650px;
    height: 50px;
    padding:$spacing-2 $spacing-0-5;
    box-shadow: rgba(236, 126, 178, 0.2) 0px 7px 29px 0px;
    input{
        font-size: $spacing-1 + $spacing-0-25;
        width: 100%;
        height: 40px;
        padding: $spacing-1;
        border: transparent;
    }
    .btn-danger{
        font-size: $spacing-1 + $spacing-0-25;
        width: $spacing-10;
        height: $spacing-3;
    }
    
}
.items-section{
    position: absolute;
    width: 650px;
    height: 200px;
    z-index: 100;
    margin-top: 5px;
    overflow: scroll;
    border-radius: 0 0 $spacing-0-75 $spacing-0-75;
    .item{
        cursor: pointer;
        z-index: 10;
        background-color: $white;
        padding:10px;
    }
    .items:nth-child(even){
        background-color: $light-grey;
    }
}


.btn-danger:active {
    background-color: blue;
}