@import "../../core/sass/index.scss";

// footer container 
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:$spacing-3;
    padding: $spacing-2 0;
    width: 100%;
    // description
    .description{
        color: $grey;

    }
    .footer-title{
        font-size: $spacing-1+$spacing-0-5;
        color: $blue;
    }
    // offer section 
    .catalog-section{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-bottom: $spacing-2;
        // offer cell
        .offer-cell{
            display: flex;
            flex-direction: column;
            width: 350px;
            background-color: $white;
            border-radius: $spacing-1;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            .food-image {
                width: 100%;
                height: 245px;
                border-top-left-radius: $spacing-1;
                border-top-right-radius: $spacing-1;
            }
            .food-section{
                display: flex;
                gap: $spacing-1;
                flex-direction: column;
                padding: $spacing-2 $spacing-1+$spacing-0-5 $spacing-2+$spacing-0-5 $spacing-1 ;

                .food-details{
                    display: flex;
                    justify-content:space-between;
                    .food-title{
                        color: $blue;
                    }
                    .food-price{
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-size: $spacing-1+$spacing-0-5;
                        font-weight: 600;
                        margin-right: $spacing-1+$spacing-0-5;
                        color: $new-price;
                    }
                }
                .food-description{
                    font-size: 12px;
                    color: $old-price;
                }

            }
            
        }

    }
    
}
// footer 
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 $spacing-8;
    // social links 
    .links-section{
        display: flex;
        gap:30px;
        align-items: center;
        .media-links{
            display: flex;
            gap:10px;
        }
        
        .footer-icons{
            width: 20px;
            border-radius: 5px;
        }
    }
}
// copyright 
.company-title{
    font-size: 10px;
}