$primary-color:#FE043C;
$color:#AEB2B4;
$white:#fff;
$black:#000;
$bgDrop:#FFF5EC;
$secondary-color:#1c2547;
$order-color:#FFEDDE;
$light-grey:#4a5155;
$old-price:#918D8C;
$new-price:#F98169;
$blue: #2e266f;
$light-pink: #ffedde;
