@import "font";// imports fonts from font.scss
@import "spacing";//import
@import "colors";


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: $poppins;
}
//removes focus for the inputs 
*:focus {
    outline: none;
}
body{
    
}
//styles for the default button
.btn-danger{
    cursor: pointer;
    font-family:'Poppins-Medium';
    text-align: center;
    font-size: $spacing-1;
    border: transparent;
    height: $spacing-2+$spacing-0-5;
    width: $spacing-9;
    background-color: $primary;
    color: $white;
    
}
// styles for unavailble styles 
.unavailable{
    opacity: 0.5;
    cursor: not-allowed;
    
}
// container styles 
.container{
    // display: flex;
    height: 100vh;
    // padding: $spacing-4 $spacing-9+$spacing-0-5;
}
// page title styles 
.page-title{
    color: $black;
    align-self: self-start;
    font-size: $spacing-2;
}
//styles for the error message
.error-message{
    color: $primary;
    font-size: $spacing-0-75;
}