@import "font";// imports fonts from font.scss
@import "spacing";//import
@import "colors";

.btn-danger{
    font-family:'Poppins-SemiBold';
    font-size: $spacing-1;

    border: transparent;
    height: $spacing-2+$spacing-0-5;
    width: $spacing-9;
    background-color: $primary-color;
    color: $white;
}