@import "../../core/sass/index.scss";


.container {
    background-color: $light-pink;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-4;
        background-color: $white;
        padding: $spacing-10 $spacing-10 + $spacing-7;

        .form-title {
            font-family: 'Poppins-Semibold';
            font-size: $spacing-2;
            color: $blue;
        }

        .form-section {
            display: flex;
            justify-content: space-evenly;
            gap: $spacing-7;
            width: 100%;

            .date-section,
            .time-section,
            .guest-section {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                input,
                select {
                    font-family: 'Poppins-Light';
                    color: $light-grey;
                    border: none;
                    background-color: transparent;
                }

                input::-webkit-calendar-picker-indicator {
                    background: url('../../../assets/icons/caret-down-solid.svg') no-repeat;
                    background-size: contain;
                    border: none;
                    position: relative;
                    top: 2px;
                    right: 6px;
                    
                }
                select {
                    /* Apply a custom caret background image */
                    background: url('../../../assets/icons/caret-down-solid.svg') no-repeat;
                    background-position: right center;
                    background-size: 12px;
                    /* ... */
                  }
            }
        }
    }
}
.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    border-radius: $spacing-2;
    padding: $spacing-3;
    background-color: $white;
    .message-section{
        margin-bottom: $spacing-2;
    }
    .btn-danger{
        // padding: $spacing-1;
        align-self: flex-end;
        border-radius: $spacing-1;
    }
}