@import '../core/sass/index.scss';

// header styles 
.header{
    display: flex;
    justify-content: space-between;
    padding: $spacing-1 $spacing-9;
    background-color: $primary;
    // links section 
    .link-section{
        cursor: pointer;
        color: $white;
        display: flex;
        justify-content: center;
        gap: $spacing-5;
        margin: 0 $spacing-10*2 0 $spacing-4;; 
        align-items: center;
        // links 
        .links{
            font-size: $spacing-0-75;
            color: $white;
            text-decoration: none;
            margin-bottom:$spacing-1;
            
        }
        
    }
    // cart section 
    .cart-section{
        display: flex;
        align-items: center;
        gap:$spacing-0-5;
        .cart{
            cursor: pointer;
            color: $white;
            .cart-list{
                display:inline-block;
                position: relative;
                bottom: 10px;
                right:2px;
                width: 15px;
                height: 15px;
                border-radius: 5px;
                font-size: 10px;
                text-align: center;
                color: $black;
                background-color: $white;
            }
        }
        .fa-caret-down{
            color: $white;
            
        }
    }

}
// route active styles 
.active-link {
     border-bottom: 2.5px solid $white;
  }
//title
.title{
    color: $white;
    font-size: $spacing-3;
}

