<header class="header">
    <!-- title -->
    <h1 class="title">eatz</h1>
    <!-- links section -->
    <div class="link-section" >
        <a  class='links'routerLink="home"routerLinkActive="active-link" *ngIf="isGuest || isUser">{{ home }}</a>
        <a  class='links'routerLink='offers' routerLinkActive="active-link" *ngIf="isGuest || isUser">{{ offers }}</a>
        <a  class='links'routerLink="restaurants" routerLinkActive="active-link" *ngIf="isGuest || isUser">{{ restaurants }}</a>
        <a  class='links'routerLink='orders' routerLinkActive="active-link" *ngIf="isUser">{{ orders }}</a>
        <a  class='links'routerLinkActive="active-link" *ngIf="isUser || isGuest" (click)="onLogout()">{{ logout }}</a>
    </div>
    <!-- cart display -->
    <div class="cart-section" >
        <a class="cart" *ngIf="isUser">cart <span class="cart-list" *ngIf="orderSize > 0">{{ orderSize }}</span><img src="../../assets/icons/caret-down-red.svg" alt=""></a>
        <!-- download the svg file instead of cdn  -->
    </div>
</header>