@import '../core/sass/index.scss';

.home-content{
    display: flex;
    flex-wrap: wrap;
    padding: $spacing-4 0;
    .restaurant-section{
        width: 50%;
        .first-word{
            font-family:'Poppins-Bold' ;
            font-size: $spacing-10 + $spacing-2 ;
            line-height: 0.8;
            color: $grey;
            opacity: 0.2;

        }
        .sub-text{
            font-family:'Poppins-Bold' ;
            font-size: $spacing-4 ;
            color: $blue;
            line-height: 1;
            margin-bottom: 50px;
        }
    }
    .image-section{
        width: 50%;
        padding: $spacing-3 0;
        .display-image{
            width: 800px;
            
        }
    }
}
.location{

   margin-bottom: $spacing-2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:$spacing-2 + $spacing-0-5;
    padding: 0 $spacing-3;
    width: 375px;
    height: 90px;
    border-radius: 0 $spacing-5 $spacing-5 0 ;
    background-color: $primary;
    .area{
        font-size: $spacing-1 + $spacing-0-5;
        color: $white;
    }
    .location-pin{
        width: 40px;
    }
    
}