<div class="container">
    <div class="home-content">
        <div class="restaurant-section">
            <p class="first-word">Food</p>
            <h2 class="sub-text">Discover Restaurant & Delicious Food</h2>
            <app-search-filter (dataEvent)="onGo($event)" ></app-search-filter>
        </div>
        <div class="image-section">
            <img src="../../assets/images/LoginImage.png" alt="LoginImage" class="display-image">
        </div>
    </div>
</div>
<div class="location">
    <img  class="location-pin" src="../../assets/icons/location-dot-solid.svg" alt="location pin">
    <div class="area">{{ location.country_name }}</div>
</div>
<app-form></app-form>
<app-footer></app-footer>