<div class="container">
    <div class="form-component">
        <img  class='login-image'src="../../assets/images/LoginImage.png" alt="LoginImage"/>
            <form>
                <div class="form-container">
                <h3 class="login-title">Login into Eatz</h3>
                <input type="text" class="form-control" placeholder="Username"/>
                <input type="text" class="form-control" placeholder="Password"/>
                <button class="btn-danger" type="submit">LOGIN</button>
                </div> 
            </form>
    </div>
</div>