<div class="container">
    <div class="form-component">
        <img  class='login-image'src="../../assets/images/LoginImage.png" alt="LoginImage"/>
            <form #login="ngForm" (ngSubmit)="onSubmit(login)">
                <div class="form-container">
                <h3 class="login-title">Login into Eatz</h3>
                <input type="text" name="username" class="form-control" placeholder="Username" required [(ngModel)]="username"/>
                <input type="password" name="password" class="form-control" placeholder="Password" required [(ngModel)]="password"/>
                <div *ngIf="login.controls['username']?.errors?.['inValidCredentials']">
                    <p class="error-message">Invalid Credentials</p>
                  </div>
                <div class="btn-section">
                    <button class="btn-danger" type="submit">LOGIN</button>
                    <button class="btn-guest" type="button" (click)="onGuestLogin()">LOGIN as GUEST</button>
                </div>
                
                </div> 
            </form>
    </div>
</div>